/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800&display=swap');
*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
}

/* header related styles */

nav{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 50px auto;
}
.nav-logo{
    display: flex;
    gap: 15px;
}
.nav-logo img{
    width: 48px;
    height: 56.008px;
}
.nav-logo h2{
    padding-top: 5px;
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
}
.nav-logo h2 span{
    color: #FF5400;
}
nav ul{
    display: flex;
    gap: 50px;
    padding-top: 20px;
}
nav ul li a{
    color: var(--Dark-02, #424247);
    font-size: 1.1rem;
    font-weight: 400;
}
nav ul li a span{
    color: #FF5400;
    font-size: 1.1rem;
    font-weight: 700;
}
.header-banner{
    border-radius: 16px;
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 90%;
    height: 550px;
    margin: 30px auto;
    background-position: center;
    background-size: cover;
}
.banner-content h2{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding-top: 70px;
}
.banner-content p{
    color: #FFF;
    width: 800px;
    margin: 40px auto;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 162.5%
}
.banner-input{
    width: 60%;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    padding: 16px;
}
.banner-input input{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    text-align: center;
}
.sub-input{
    display: inline-flex;
    padding: 12x;
    align-items: flex-start;
    gap: 110px;
}
.btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
}
/* main styles */

/* Tour related styles */
.Tour{
    width: 90%;
    display: flex;
    margin: 100px auto;
}
.tour-txt{
    width: 70%;
}
.tour-txt h2{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.tour-txt p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding-top: 10px;
}
.tour-txt ul li{
    list-style:disc;
    padding: 20px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.tour-img{
    width: 540px;
    height: 550px;
    border-radius: 16px;
    background: url('../Images/Rectangle\ 4.png'), lightgray 50% / cover no-repeat;
}
.btn2{
    margin-top: 40px;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-weight: 800;
    font-size: 1.2rem;
}
/* destination related styles */
.destination{
    width: 90%;
    margin: 100px auto;
}
.destination-txt h2{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.destination-txt p{
    color: rgba(19, 19, 24, 0.70);
    width: 700px;
    text-align: center;
    margin: 30px auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.sub-class1{
    width: 70%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.sub-class2{
    width: 70%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.sub-class3{
    width: 70%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.img1{
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 5.png'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
}
.img2{
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 8.png'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
}
.img3{
    width: 374px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 6.png'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
}
.img4{
    width: 474px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 7.png'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
}
.img5{
    width: 274px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 9.png'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
}
.img6{
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 11.png'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
}
.img7{
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 10.png'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
}
.img1 p {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 135px;
}
.img2 p {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 135px;
}
.img3 p {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 135px;
}
.img4 p {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 135px;
}
.img5 p {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 135px;
}
.img6 p {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 135px;
}
.img7 p {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding-top: 135px;
}

/* Why choose us related styles */

.why-choose-us{
    width: 90%;
    margin: 100px auto;
}
.why-choose-us-txt h2 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.why-choose-us-txt p {
    width: 650px;
    margin: 25px auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.sub-bimg{
    width: 70%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.bimg1{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
}
.bimg1:hover{
    border: 1px solid rgba(251, 181, 99, 0.20);
}
.bimg2{
    width: 573px;
    height: 284px;;
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}
.bimg2:hover{
    border: 1px solid rgba(41, 206, 246, 0.20);
}
.bimg3{
    margin: 20px auto;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
}
.bimg3:hover{
    border: 1px solid rgba(233, 68, 68, 0.20);
}
.bimg1 img{
    width: 64px;
    height: 64px;
    padding-top: 25px;
    padding-left: 25px;
}
.bimg1 h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding-top: 25px;
    padding-left: 25px;
}
.bimg1 p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding-top: 25px;
    padding-left: 25px;
}
.bimg2 img{
    width: 64px;
    height: 64px;
    padding-top: 25px;
    padding-left: 25px;
}
.bimg2 h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding-top: 25px;
    padding-left: 25px;
}
.bimg2 p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding-top: 25px;
    padding-left: 25px;
}
.bimg3 img{
    width: 64px;
    height: 64px;
    padding-top: 25px;
    padding-left: 25px;
}
.bimg3 h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding-top: 25px;
    padding-left: 25px;
}
.bimg3 p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding-top: 25px;
    padding-left: 25px;
}
/* Discount and deals related styles */

.discount-content{
    width: 90%;
    margin: 100px auto;
}
.deals-txt h2{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.deals-txt p{
    width: 700px;
    margin: 30px auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.deals-img1{
    height: 550px;
    border-radius: 16px;
    background: url('../Images/Group\ 39.png'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    padding-top: 120px;
}
.deals-img2{
    height: 550px;
    border-radius: 16px;
    background: url('../Images/Group\ 40.png'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    padding-top: 120px;
}
.sub-deals1{
    margin-left: 1050px;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}
.sub-deals2{
    margin-left: 80px;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}
.sub-deals1 h3{
    padding-top: 50px;
    padding-left: 30px;
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.sub-deals2 h3{
    padding-top: 50px;
    padding-left: 30px;
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.sub-deals1 p{
    padding-top: 30px;
    padding-left: 30px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.sub-deals2 p{
    padding-top: 30px;
    padding-left: 30px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.sub-deals1 button{
    margin-left: 30px;
}
.sub-deals2 button{
    margin-left: 30px;
}
.sub-deals1 span{
    color: #FF5400;;
    font-size: 1.25rem;
    font-weight: 800;
}
.sub-deals2 span{
    color: #FF5400;;
    font-size: 1.25rem;
    font-weight: 800;
}
.btn3{
    margin-top: 40px;
    margin-left: 750px;
    width: 210px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
}
/* responsive related styles */
@media screen and (max-width: 600px) {
    nav{
        display: block;
        width: 100%;
    }
    .nav-logo{
        width: 20px;
        height: 30px;
        margin-left: 120px;
    }
    .nav-logo h2{
        padding-top: 15px;
        font-size: 1.2rem;
        display: flex;
        gap: 8px;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        text-align: center;
    }
    nav ul li a{
        font-size: 1rem;
    }
    .header-banner{
        padding-bottom: 30px;
    }
    .banner-content h2{
        font-size: 22px;
        font-weight: 800;
    }
    .banner-content p{
        width: 400px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
    .sub-input, .Tour, .sub-class1, .sub-class2, .sub-class3, .sub-bimg{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .tour-txt{
        width: 95%;
    }
    .btn2{
        margin-top: 20px;
    }
    .destination-txt h2{
        font-size: 20px;
    }
    .destination-txt p{
        width: 70%;
        font-size: 14px;
    }
    .img1, .img2, .img3, .img4, .img5, .img6, .img7{
        width: 400px;
        height: 200px;
    }
    .sub-class1 p {
        padding-top: 80px;
    }
    .sub-class2 p {
        padding-top: 80px;
    }
    .sub-class3 p {
        padding-top: 80px;
    }
    .bimg3{
        width: auto;
        height: 300px;
    }
    .sub-deals1, .sub-deals2{
        margin: 10px auto;
        padding: auto;
        padding-bottom: 120px;
        padding-right: 30px;
        width: 350px;
        height: 300px;
        text-align: center;
    }
    .btn3{
        margin-left: 160px;
    }
    .deals-txt h2{
        text-align: center;
        font-size: 1.5rem;
    }
    .deals-txt p{
        width: 400px;
        text-align: center;
        font-size: 1rem;
        line-height: 24px;
    }
    
}